<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Emojinator</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <%= javascript_include_tag "application" %>
    <!-- boostrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <link rel="icon" href="favicon.ico">
    <%= stylesheet_link_tag "application", media: "all" %>
  </head>
  <body>
    <div class="container">
      <h1><%= image_tag "favicon.png", style: "width: 100px; padding: 15px;" %>The Emoji Translation Project</h1>
    </div>
    <div class=container style="margin-bottom: 100px;">
        <p><b>Hello and welcome to our emoji translation project.</b></p>
        <p>Thanks for volunteering. Below, you'll see a phrase we'd like you to translate into emoji and the number of phrases remaining. Click the "Emoji Palette" button to find the right emoji, and get creative! </p>
        <hr>
        <%= form_for @translation, html: { onsubmit: 'return validateForm();' } do |f| %>
          <h1>
            <div class = 'phrase'><%= @phrase.original_text %></span>
          </h1>
          <%= hidden_field_tag :phrase_id, @phrase.id %>
          <h4>Emoji Translation:</h4>
          <%= text_area_tag 'emoji', '', rows: 5, class: 'emojis-wysiwyg' %>
          <input type='button' onclick='return false;' id = 'emoji_button' value = 'Emoji Palette'></input>
          <h3>Additional Notes?</h1>
          <%= text_area_tag 'additional_notes', '', rows: 1, class: 'additional_notes' %>
          <div style="display: none;" class="value"><pre id="emojis-wysiwyg-value"></pre></div>
          <div class = "email">
            <h4>Email:
            <%= text_field_tag 'email', cookies[:contributor_email] %>
            </h4>
          </div>
          <%= @remaining_phrases %> phrases remaining.
          <%= button_tag "Submit", id: :submit_button %>
        <% end %>
      <br>
      <br>
      <hr>
      <h1>FAQs</h1>
      <h2>What is this?</h2>
      <p>Answer.</p>
      <h2>This is taking too long, do I have to do them all?</h2>
      <p>Yes.</p>
      <h2>What is this?</h2>
      <p>Answer.</p>
    </div>

    <script>
    var $wysiwyg = $('.emojis-wysiwyg').emojiarea({
      wysiwyg: true,
      button: '#emoji_button'
    });
    var $wysiwyg_value = $('#emojis-wysiwyg-value');
    $wysiwyg.on('change', function() {
      $wysiwyg_value.text($(this).val());
    });
    $wysiwyg.trigger('change');
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>


  </body>
</html>
